html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='A micro web app to scrap website title, description and favicon from an URL using Puppeteer')
    link(href='/favicon.ico', rel='shortcut icon')
    title Website Meta Fetcher by Sivadass
    link(rel='stylesheet', href='/style.css')
    script(src='/jquery.min.js')
    script(src='/jquery.validate.min.js')
    script(src='/additional-methods.min.js')
  body
    header
      a(href="/")
        h1 Website Meta Fetcher
      nav
        a(href="/") Go back to home
    .container
      h3 APIs

      p All APIs are served over HTTPS and CORS Supported, so just feel free to access it from any domain.

      p Base URL: 
        a(href="https://website-meta-fetcher.herokuapp.com/api") https://website-meta-fetcher.herokuapp.com/api

      table
        tr
          td(width="33%") Title
          td Fetch as bot
        tr
          td(width="33%") URL
          td /fetch-as-bot?url=:url
        tr
          td(width="33%") Method
          td GET
        tr
          td(width="33%") URL Params 
          td 
            | Required: url=[string] #[br]
            | (A valid website URL)
        tr
          td(width="33%") Data Params
          td Not Applicable
        tr
          td(width="33%") Response Codes
          td 
            | Success (200 OK), #[br]
            | Bad Request (400)
        tr
          td(width="33%") Example
          td 
            a(href="https://website-meta-fetcher.herokuapp.com/api/fetch-as-bot/?url=https://sivadass.in" target="_blank") https://website-meta-fetcher.herokuapp.com/api/fetch-as-bot/?url=https://sivadass.in
            
      table
        tr
          td(width="33%") Title
          td Fetch as Ajax
        tr
          td(width="33%") URL
          td /fetch-as-bot?url=:url
        tr
          td(width="33%") Method
          td GET
        tr
          td(width="33%") URL Params 
          td 
            | Required: url=[string] #[br]
            | (A valid website URL)
        tr
          td(width="33%") Data Params
          td Not Applicable
        tr
          td(width="33%") Response Codes
          td 
            | Success (200 OK), #[br]
            | Bad Request (400)
        tr
          td(width="33%") Example
          td 
            a(href="https://website-meta-fetcher.herokuapp.com/api/fetch-as-bot/?url=https://sivadass.in" target="_blank") https://website-meta-fetcher.herokuapp.com/api/fetch-as-ajax/?url=https://sivadass.in

    footer
      p
        a(href='https://github.com/sivadass/website-meta-fetcher') Grab the code
        span   | 
        a(href='http://www.twitter.com/share?url=https%3A%2F%2Fgithub.com%2Fsivadass%2Fwebsite-meta-fetcher') Share it on Twitter
        span   |  
        a(href='mailto:contact@sivadass.in') Contact Me
      p 
        a(href='https://website-meta-fetcher.herokuapp.com/') Website Meta Fetcher
        span , No Copyright, No Rights Reserved, Just Use It :)
    
    script(src='/main.js')