html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='A micro web app to scrap website title, description and favicon from an URL using Puppeteer')
    link(href='/favicon.ico', rel='shortcut icon')
    title Website Meta Fetcher by Sivadass
    link(rel='stylesheet', href='/style.css')
    script(src='/jquery.min.js')
    script(src='/jquery.validate.min.js')
    script(src='/additional-methods.min.js')
  body
    h1 Website Meta Fetcher - Documentation
    .container
      p Coming Soon!
    footer
      p
        a(href='https://github.com/sivadass/website-meta-fetcher') Grab the code
        span   | 
        a(href='http://www.twitter.com/share?url=https%3A%2F%2Fgithub.com%2Fsivadass%2Fwebsite-meta-fetcher') Share it on Twitter
        span   |  
        a(href='mailto:contact@sivadass.in') Contact Me
      p 
        a(href='https://website-meta-fetcher.herokuapp.com/') Website Meta Fetcher
        span , No Copyright, No Rights Reserved, Just Use It :)
    
    script(src='/main.js')